body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     color:blue;
     background-color: black;
    }
link {
font-family: cursive;
color:aqua;
}